<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/assets/images/favicon.png" type="image/png"/>
    <title>人体各年龄阶段信息页面！</title>
    <link href="/assets/css/icons.css" rel="stylesheet"/>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/css/responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">
<!--Start left side Menu-->
<div class="left-side sticky-left-side">
    <!--logo-->
    <div class="logo">
        <a href="index.html"><img src="/assets/images/logo.png" alt=""/></a>
    </div>

    <div class="logo-icon text-center">
        <a href="index.html"
        ><img src="/assets/images/logo-icon.png" alt=""
        /></a>
    </div>
    <!--logo-->
    <div class="left-side-inner">
        <!--Sidebar nav-->
        <div class="nano" th:replace="menu::mymenu">
        </div>
        <!--End sidebar nav-->
    </div>
</div>
<!--End left side menu-->

<!-- main content start-->
<div class="main-content">
    <!-- header section start-->
    <div class="header-section">
        <div th:replace="menu::mytopbar">
        </div>
    </div>

    <!-- header section end-->

    <!--body wrapper start-->
    <div class="wrapper">
        <!--Start Page Title-->
        <div class="page-title-box">
            <h4 class="page-title">Table</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Table</a>
                </li>
                <li class="active">Responsive Table</li>
            </ol>
            <div class="clearfix"></div>
        </div>
        <!--End Page Title-->

        <!-- Start responsive Table-->
        <div class="col-md-12">
            <div class="white-box">
                <h2 class="header-title">年龄阶段信息表</h2>
                <form method="post" action="/stu/web" class="form-inline">
                    <div>
                        <input type="text" th:value="${ill_name}" name="ill_name" class="form-control"
                               placeholder="按照疾病名称查询">
                        <button type="submit" class="btn btn-info">查询</button>
                    </div>
                </form>
                <div class="table-responsive">
                    <table id="example" class="display table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>年龄阶段</th>
                            <th>疾病名称</th>
                            <th>年龄</th>
                            <!--<th>简介</th>
                            <th>原因</th>
                            <th>详情</th>
                            <th>建议</th>
                            <th>图片</th>-->
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="IllInfo:${stus.list}">
                            <td th:text="${IllInfo.ill_id}"></td>
                            <td th:text="${IllInfo.stage}"></td>
                            <td th:text="${IllInfo.ill_name}"></td>
                            <td th:text="${IllInfo.age}"></td>
                            <!--<td th:text="${IllInfo.ill_abstract}"></td>
                            <td th:text="${IllInfo.ill_reason}"></td>
                            <td th:text="${IllInfo.ill_details}"></td>
                            <td th:text="${IllInfo.ill_advice}"></td>
                            <td th:text="${IllInfo.ill_img_url}"></td>-->
                            <td>
                                <a th:href="@{'xq/'+${IllInfo.ill_id}}">详情</a> |
                                <a th:href="@{'update/'+${IllInfo.ill_id}}">修改</a> |
                                <a th:href="@{'delete/'+${IllInfo.ill_id}}">删除</a>
                            </td>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a th:href="@{/stu/web(pageIndex=${stus.pageNum-1},pageSize=10,ill_name=${ill_name})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <th:block th:each="nav:${stus.navigatepageNums}">
                                <li th:class="${nav==stus.pageNum}?'active':''">
                                    <a th:href="@{/stu/web(pageIndex=${nav},pageSize=10,ill_name=${ill_name})}"
                                       th:text="${nav}"></a>
                                </li>
                            </th:block>
                            <li>
                                <a th:href="@{/stu/web(pageIndex=${stus.pageNum+1},pageSize=10,ill_name=${ill_name})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End responsive Table-->
    </div>
    <!-- End Wrapper-->

    <!--Start  Footer -->
    <footer class="footer-main">
        Copyright &copy; 2020-故事化资讯网站-No.5 All rights reserved.
    </footer>
    <!--End footer -->
</div>
<!--End main content -->

<!--Begin core plugin -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/plugins/moment/moment.js"></script>
<script src="/assets/js/jquery.slimscroll.js "></script>
<script src="/assets/js/jquery.nicescroll.js"></script>
<script src="/assets/js/functions.js"></script>
<!-- End core plugin -->
</body>
</html>
