<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="/css/component.css"/>
    <script src="/js/modernizr.custom.js"></script>
    <meta name="format-detection" content="telephone=no"/>
    <meta
            name="viewport"
            content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <link
            rel="stylesheet"
            type="text/css"
            href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600italic,900"
    />
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/fonts.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>


    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/assets/images/favicon.png" type="image/png"/>
    <title>年龄各阶段相关疾病详情页面！</title>
    <link href="/assets/css/icons.css" rel="stylesheet"/>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/css/responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">
<!--Start left side Menu-->
<div class="left-side sticky-left-side">
    <!--logo-->
    <div class="logo">
        <a href="index.html"><img src="/assets/images/logo.png" alt=""/></a>
    </div>

    <div class="logo-icon text-center">
        <a href="index.html"
        ><img src="/assets/images/logo-icon.png" alt=""
        /></a>
    </div>
    <!--logo-->

    <div class="left-side-inner">
        <!--Sidebar nav-->
        <div class="nano" th:replace="menu::mymenu">
        </div>
        <!--End sidebar nav-->
    </div>
</div>
<!--End left side menu-->

<!-- main content start-->
<div class="main-content">
    <!-- header section start-->
    <div class="header-section">
        <div th:replace="menu::mytopbar">
        </div>
    </div>
    <!-- header section end-->

    <!--body wrapper start-->
    <div class="wrapper">
        <!--Start Page Title-->
        <div class="page-title-box">
            <h4 class="page-title">Form Basic</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Form</a>
                </li>
                <li class="active">Form Basic</li>
            </ol>
            <div class="clearfix"></div>
        </div>
        <!--End Page Title-->

        <!--Start row-->
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h2 class="header-title">各阶段疾病相关信息详情页面！</h2>
                    <form action="/stu/xq" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="inputHome1" class="col-md-2 control-label">疾病名称</label>
                            <div class="col-md-10">
                                    <textarea
                                            disabled
                                            class="form-control"
                                            type="text"
                                            id="inputHome1"
                                            name="ill_name"
                                            placeholder="疾病名称"
                                            th:text="${ill.ill_name}"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputHome2" class="col-md-2 control-label">疾病简介</label>
                            <div class="col-md-10">
                                    <textarea disabled
                                              class="form-control"
                                              rows="8"
                                              type="text"
                                              id="inputHome2"
                                              name="ill_abstract"
                                              placeholder="简介"
                                              th:text="${ill.ill_abstract}"
                                    ></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputHome3" class="col-md-2 control-label">疾病原因</label>
                            <div class="col-md-10">
                                    <textarea disabled
                                              class="form-control"
                                              rows="8"
                                              type="text"
                                              id="inputHome3"
                                              name="ill_reason"
                                              placeholder="原因"
                                              th:text="${ill.ill_reason}"
                                    ></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputHome4" class="col-md-2 control-label">疾病详情</label>
                            <div class="col-md-10">
                                    <textarea disabled
                                              class="form-control"
                                              rows="8"
                                              type="text"
                                              id="inputHome4"
                                              name="ill_details"
                                              placeholder="详情"
                                              th:text="${ill.ill_details}"
                                    ></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputHome5" class="col-md-2 control-label">疾病建议</label>
                            <div class="col-md-10">

                                <textarea disabled
                                          class="form-control"
                                          rows="8"
                                          id="inputHome5"
                                          name="ill_advice"
                                          placeholder="建议"
                                          th:text="${ill.ill_advice}"
                                ></textarea>

                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <a type="" class="btn btn-default col-sm-offset-6"
                                   th:href="@{/stu/web}">返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--End row-->
    </div>
    <!-- End Wrapper-->

    <!--Start  Footer -->
    <footer class="footer-main">
        Copyright &copy; 2020-故事化资讯网站-No.5 All rights reserved.
    </footer>
    <!--End footer -->
</div>
<!--End main content -->

<!--Begin core plugin -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/plugins/moment/moment.js"></script>
<script src="/assets/js/jquery.slimscroll.js "></script>
<script src="/assets/js/jquery.nicescroll.js"></script>
<script src="/assets/js/functions.js"></script>
<!-- End core plugin -->
</body>
</html>
