<!DOCTYPE html>
<html class="wide wow-animation" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="/css/component.css"/>
    <script src="/js/modernizr.custom.js"></script>
    <!-- Site Title-->
    <title>故事化资讯网站年龄发展——老年</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta
            name="viewport"
            content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <!-- Stylesheets-->
    <link
            rel="stylesheet"
            type="text/css"
            href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,600italic,900"
    />
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/fonts.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <script th:inline="javascript">
        window.onload = function () {
            showTime();
            var checkName = [[${userLoginUserName}]]; // 即可获取model TODO:获取session
            console.log("checkName ==> " + checkName)
            if (checkName != null) {
                $("#btnLogin").attr("style", "display:none;");//隐藏登录
                $("#btnLogout").attr("style", "display:block;");//显示退出
            } else {
                $("#btnLogout").attr("style", "display:none;");//隐藏退出
                $("#btnLogin").attr("style", "display:block;");//显示登录
            }
        }
        function showTime(){
            var myDate = new Date();
            var year = myDate.getFullYear();
            var month = myDate.getMonth() + 1;
            var date = myDate.getDate();
            var dateArr = ["日","一",'二','三','四','五','六'];
            var day = myDate.getDay();
            var hours = myDate.getHours();
            var minutes = formatTime(myDate.getMinutes());
            var seconds = formatTime(myDate.getSeconds());
            var systemTime = document.getElementById("time");
            systemTime.innerHTML = " " + year + "年" + month +"月" + date + "日" + " 星期" + dateArr[day] + " " + hours + ":" + minutes + ":" + seconds;
            setTimeout("showTime()",500);
        }
        //格式化时间：分秒。
        function formatTime (i){
            if(i < 10){
                i = "0" + i;
            }
            return i;
        }
    </script>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //获取城市ajax
            $.ajax({
                url:
                    "http://api.map.baidu.com/location/ip?ak=ia6HfFL660Bvh43exmH9LrI6",
                type: "POST",
                dataType: "jsonp",
                success: function (data) {
                    console.log(
                        JSON.stringify(
                            data.content.address_detail.province +
                            "," +
                            data.content.address_detail.city
                        )
                    );
                    $("#city").html(
                        JSON.stringify(
                            data.content.address_detail.province +
                            "," +
                            data.content.address_detail.city
                        )
                    );
                },
            });
            //获取ip ajax
            $.ajax({
                url: "http://freegeoip.net/json/",
                success: function (data) {
                    console.log(JSON.stringify(data.ip));
                    $("#ip").html(JSON.stringify(data.ip));
                },
                type: "GET",
                dataType: "JSON",
            });
        });
    </script>
</head>
<body>
<!--开始-->
<section class="page">
    <!--导航条-->
    <header class="page-head">
        <div th:replace="menu::mybar"></div>
    </header>
    <!--标题-->
    <section class="section-40 section-lg-64 bg-light-05">
        <div class="breadcrumbs-wrap">
            <div class="container text-center">
                <div class="wrap-sm-justify-horizontal">
                    <div class="text-md-left">
                        <h1 class="breadcrumbs-custom-title">老年时期</h1>
                    </div>
                    <div class="offset-top-22 offset-md-top-0 text-md-right">
                        <ul class="breadcrumbs-custom">
                            <li><a th:href="@{/user/index}">首页</a></li>
                            <li><a>年龄阶段</a></li>
                            <li class="active">老年时期</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--echarts图-->
    <div class="swiper-container swiper-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-slide-caption">
                    <div class="container text-center text-md-left">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="swiper-slide-text">
                                    <!--<h5 class="text-style-1">-->
                                        老年阶段:老年期是人生过程的最后阶段。特点是身体各器官组织出现明显的退行性变化，心理方面也发生相应改变，衰老现象逐渐明显。由于各种变化包括衰老是循序渐进的，人生各时期很难截然划分。而且衰老过程的个体差异很大，即使在一个人身上，各脏器的衰老进度也不是同步的。衰老与一般健康水平有关，不同时代、不同地区的人，衰老进度也不同。多数人的衰老变化在40岁左右逐渐发展，60岁左右开始显著。因此，从医学、生物学的角度，规定60岁或65岁以后为老年期，其中80岁以后属高龄，90岁以后为长寿期。老年期的规定还受社会经济乃至国家政策(如退休政策)的影响。欧美、日本等发达国家多以65岁为老年的标准，一些发展中国家则多以60岁为标准。有些学者提出将老年期的起点后移。中华医学会老年医学学会曾于1982年根据中国国情及传统概念，建议规定以60岁以上为老年。中国学者的一些论文谈到老年期时均以60岁为起点，有些论文也同时列出65岁以上的资料。
                                        老年人的特点是结构功能多趋向衰退，但在智力方面一般并不减退，特别在熟悉的专业或事物方面，智能活动不但不减退还有增加。老年期有消极的一面，也有积极的一面。解决老年期的问题，要从两方面入手，一是从物质和精神上解决老年人的需求，一是通过各种方式，组织发挥老年人的潜力，继续为人类社会作贡献。👊
                                    <<!--/h5>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img
                                        src="/images/old.jpg"
                                        alt=""
                                        width="1000"
                                        height="600"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide-caption">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#">
                                <form method="post" action="/stu/sc" class="form-inline"></form>
                                <div class="container">
                                    <div class="echartbt"
                                         style="display:flex;flex-direction:row;justify-content: space-between;flex-wrap: nowrap;">
                                        <div id="main" style="width:750px;height:400px;background:white">
                                            <script th:inline="javascript">
                                                let arr;
                                                var myChart = echarts.init(document.getElementById('main'));
                                                var aa = [[${ostage}]];
                                                var mydata = [];
                                                var title = [];
                                                aa.forEach(function (item) {
                                                    console.log(typeof (item.age) + "---" + typeof (item.ill_name));
                                                    title.push(item.ill_name);
                                                    mydata.push(item.age)
                                                })
                                                option = {
                                                    backgroundColor: 'white',
                                                    title: {
                                                        text: '老年时期常见疾病及患病年龄',
                                                        left: 'center'

                                                    },
                                                    tooltip: {
                                                        trigger: 'axis',
                                                        axisPointer: {
                                                            type: 'shadow'
                                                        }
                                                    },
                                                    xAxis: {
                                                        name: '疾病名称',
                                                        type: 'category',
                                                        data: title
                                                    },
                                                    yAxis: {
                                                        name: '年龄',
                                                        type: 'value'


                                                    },
                                                    series: [{
                                                        data: mydata,
                                                        type: 'line'
                                                    }]
                                                };
                                                myChart.setOption(option);
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><form method="post" action="/stu/so" class="form-inline"></form>
                                <div class="container">
                                    <div class="echartbt" style="display:flex;flex-direction:row;justify-content: space-between;flex-wrap: nowrap;">
                                        <div id="main2"  style="width:750px;height:400px;background:white">
                                            <script th:inline="javascript">
                                                var myChart = echarts.init(document.getElementById('main2'));
                                                var aa = [[${oage}]];
                                                var mydata=[];
                                                var title =[];
                                                var Mydata=[];
                                                aa.forEach(function(item){
                                                    // console.log(typeof(item.age)+"---"+typeof(item.count));
                                                    var obj={value:0,name:''};
                                                    obj.value=item.count;
                                                    obj.name=item.age;
                                                    mydata.push(item.count);
                                                    title.push(item.age);
                                                    Mydata.push(obj);
                                                })
                                                console.log(mydata)
                                                console.log(title)
                                                myChart.setOption({
                                                    backgroundColor: 'white',
                                                    title: {
                                                        text: '婴幼儿时期各年龄疾病数统计',
                                                        left: 'center'
                                                    },
                                                    tooltip: {
                                                        trigger: 'item',
                                                        formatter: '{a} <br/>{b}: {c} ({d}%)'
                                                    },
                                                    legend: {
                                                        top: 'bottom',
                                                        data:title
                                                    },
                                                    series: [
                                                        {
                                                            name: '面积模式',
                                                            type: 'pie',
                                                            center: ['50%', '50%'],
                                                            roseType: 'area',
                                                            data: Mydata,
                                                        }
                                                    ]
                                                })
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">

                <div class="swiper-slide-caption">

                    <a href="#">
                        <form method="post" action="/stu/sc" class="form-inline"></form>
                        <div class="container">
                            <div class="echartbt"
                                 style="display:flex;flex-direction:row;justify-content: space-between;flex-wrap: nowrap;">
                                <div id="main1" style="width:1200px;height:500px;background:white">
                                    <script th:inline="javascript">
                                        var myChart = echarts.init(document.getElementById('main1'));
                                        myChart.setOption({
                                            backgroundColor: 'white',
                                            title: {
                                                text: '老年时期常见疾病介绍',
                                                left: 'center'

                                            },


                                            series: [
                                                {
                                                    name: '访问来源',
                                                    type: 'pie',    // 设置图表类型为饼图
                                                    radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
                                                    data: [          // 数据数组，name 为数据项名称，value 为数据项值
                                                        {
                                                            value: 1, name: '高血压是中老年人最常见的慢性病，也是心脑血管病最主要的危险因素，\n' +
                                                                '脑卒中、心肌梗死、心力衰竭及慢性肾脏病是其主要并发症。不过，高血压也\n' +
                                                                '是可以预防和控制的疾病，降低高血压患者的血压水平，可明显减少脑卒中及\n' +
                                                                '心脏病事件，可显著改善患者的生存质量，有效降低疾病负担。'
                                                        },
                                                        {
                                                            value: 1, name: '糖尿病属于内分泌代谢系统疾病，常见于中老年人肥胖者发病率高，常\n' +
                                                                '伴有高血压、血脂异常、动脉硬化等疾病。起病隐袭,早期无任何症状，或\n' +
                                                                '仅有轻度乏力、口渴。血糖增高不明显者需做糖耐量试验才能确诊。'
                                                        },
                                                        {
                                                            value: 1, name: '冠心病是中老年人常见的心血管疾病，大约99%冠心病患者是由\n' +
                                                                '冠状动脉粥样硬化引起的。当冠状动脉粥样硬化发展到一定程度而导致\n' +
                                                                '冠状动脉的管腔严重狭窄、阻塞时，即可造成心肌缺血、缺氧，从而发生\n' +
                                                                '一系列的症状，如胸闷、心绞痛等，甚至发生心肌梗塞继而危及生命。'
                                                        },
                                                        {
                                                            value: 1, name: '老年痴呆是神经系统变性病，首发症状是记忆力减退，但随着病情\n' +
                                                                '的加重，到了病情的中晚期，病人的自理能力就会变得很差，有的病人\n' +
                                                                '甚至完全丧失自理能力，需要家属的完全照顾。这类病人还不能进食，\n' +
                                                                '甚至长期卧床，可能会造成一系列的并发症。老年痴呆在初发阶段都有\n' +
                                                                '迹可循，如果老年人出现记忆力减退等问题，要及早到医院检查。'
                                                        }
                                                    ]
                                                }
                                            ]
                                        })
                                    </script>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    <!-- Swiper Pagination-->
    <div class="swiper-pagination-wrap">
        <div class="container">
            <div class="swiper-pagination"></div>
        </div>
    </div>
    </div>

    <!--年龄阶段发展-->
    <section class="section-80 section-md-110 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-lg-4">

                    <div id="main3" style="width:1200px;height:500px;background:white">
                        <script th:inline="javascript">
                            var myChart = echarts.init(document.getElementById('main3'));
                            var option = {
                                //timeline基本配置都写在baseoption 中
                                baseOption: {
                                    timeline: {
                                        //loop: false,
                                        axisType: 'category',
                                        show: true,
                                        autoPlay: true,
                                        playInterval: 1000,
                                        data: ['前期', '中期', '后期'],
                                    },
                                    grid: {containLabel: true},
                                    xAxis: [{
                                        type: 'category',
                                        name: '疾病名称',
                                    },],
                                    yAxis: {type: 'value', name: '人'},
                                    series: [
                                        {
                                            type: 'line',
                                        },
                                    ],
                                    tooltip: {}
                                },
                                //变量则写在options中
                                options: [
                                    {
                                        xAxis: [{
                                            data: ['高血压','糖尿病', '冠心病', '老年痴呆','白内障','骨质疏松','肝硬化','支气管哮喘','老年抑郁症','脑梗死','青光眼']
                                        }],
                                        title: {
                                            text: '老年阶段常见疾病发病人数',
                                            subtext: '单位:人'
                                        },
                                        series: [
                                            {
                                                data: [120, 450, 140,100,80,70,200,300,400,300]
                                            },
                                        ]
                                    },
                                    {
                                        xAxis: [{
                                            data: ['高血压','糖尿病', '冠心病', '老年痴呆','白内障','骨质疏松','肝硬化','支气管哮喘','老年抑郁症','脑梗死','青光眼']
                                        }],
                                        title: {
                                            text: '老年阶段常见疾病发病人数',
                                            subtext: '单位:人'
                                        },
                                        series: [
                                            {
                                                data: [530, 130, 780,600,800,670,450,500,700,550,300]
                                            },
                                        ]
                                    },
                                    {
                                        xAxis: [{
                                            data: ['高血压','糖尿病', '冠心病', '老年痴呆','白内障','骨质疏松','肝硬化','支气管哮喘','老年抑郁症','脑梗死','青光眼']
                                        }],
                                        title: {
                                            text: '老年阶段常见疾病发病人数',
                                            subtext: '单位:人'
                                        },
                                        series: [
                                            {
                                                data: [560, 350, 180,100,300,400,500,200,300,200,100]
                                            },

                                        ]
                                    },
                                ]
                            }
                            myChart.setOption(option);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Your Career Starts Here-->
    <section class="section-80 section-md-110 bg-gray-lighter">
        <div class="container">
            <div class="row justify-content-md-center text-center">
                <div class="col-md-9 col-lg-12">
                    <h2>老年时期常见疾病及建议</h2>
                    <div class="divider divider-md divider-primary"></div>
                    <p class="offset-top-30 offset-md-top-55">
                    <div class="clo-lg-12">
                        <form method="post" action="/stu/so" class="form-horizontal">
                            <div class="row">
                                <div class="col-xs-6 col-sm-3"></div>
                                <div class="col-xs-6 col-sm-3"></div>
                                <div class="col-sm-6 col-md-3">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <select class="form-control" name="oname">
                                                <option value="31">---请选择相关疾病进行查询---</option>
                                                <option th:each="IllInfo:${ostage}"
                                                        th:value="${IllInfo.ill_id}"
                                                        th:text="${IllInfo.ill_name}"
                                                        th:selected="${IllInfo.ill_id==ill_id}"
                                                ></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3">
                                    <button class="btn btn-primary btn-lg" type="submit">查询</button>
                                </div>
                            </div>
                            <tr th:each="IllInfo :${oname}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <header class="clearfix">
                                            <h4>老年阶段相关疾病时间线</h4>
                                        </header>
                                        <ul class="cbp_tmtimeline">
                                            <li th:each="IllInfo:${ostage}">
                                                <time class="cbp_tmtime" age="60">
                                                    <span><h5><td th:text="${IllInfo.age}"><b>点击数</b></td></h5></span>
                                                </time>
                                                <div class="cbp_tmicon cbp_tmicon-mail"></div>
                                                <div class="cbp_tmlabel">
                                                    <span><td th:text="${IllInfo.ill_name}"><b>点击数</b></td></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <header class="clearfix">
                                            <h5>您所查询的是：
                                                <td th:text="${IllInfo.ill_name}"></td>
                                            </h5>
                                        </header>
                                        <div>
                                            <div class="offset-top-30 box-custom hot">
                                                <h5 class="box-custom-header">
                                                    <a href="#">简介</a>
                                                </h5>
                                                <ul class="list-meta-variant-1">
                                                    <li>
                                                        <td th:text="${IllInfo.ill_abstract}"></td>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div class="box-custom hot">
                                                <h5 class="box-custom-header">
                                                    <a href="#">原因</a>
                                                </h5>
                                                <ul class="list-meta-variant-1">
                                                    <li>
                                                        <td th:text="${IllInfo.ill_reason}"></td>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div class="box-custom hot">
                                                <h5 class="box-custom-header">
                                                    <a href="#">详情</a>
                                                </h5>
                                                <ul class="list-meta-variant-1">
                                                    <li>
                                                        <td th:text="${IllInfo.ill_details}"></td>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <br>
                                        <div>
                                            <div class="box-custom hot">
                                                <h5 class="box-custom-header">
                                                    <a href="#">建议</a>
                                                </h5>
                                                <ul class="list-meta-variant-1">
                                                    <li>
                                                        <td th:text="${IllInfo.ill_advice}"></td>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </form>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Page Footer-->
    <footer class="page-foot bg-gray-dark">
        <div th:replace="menu::myfooter"></div>
    </footer>
    <div class="preloader">
        <div th:replace="menu::myloading"></div>
    </div>
    <script src="/js/core.min.js"></script>
    <script src="/js/script.js"></script>
    </form>
</section>
</body>
</html>
