<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="/assets/images/favicon.png" type="image/png"/>
    <title>用户管理员信息表</title>
    <link href="/assets/css/icons.css" rel="stylesheet"/>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/css/responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sticky-header">
<!--Start left side Menu-->
<div class="left-side sticky-left-side">
    <!--logo-->
    <div class="logo">
        <a href="index.html"><img src="/assets/images/logo.png" alt=""/></a>
    </div>
    <div class="logo-icon text-center">
        <a href="index.html"
        ><img src="/assets/images/logo-icon.png" alt=""
        /></a>
    </div>
    <div class="left-side-inner">
        <!--侧边栏-->
        <div class="nano" th:replace="menu::mymenu"></div>
    </div>
</div>

<!--中间内容开始-->
<div class="main-content">
    <!--导航条-->
    <div class="header-section">
        <div th:replace="menu::mytopbar">
        </div>
    </div>
    <!--body wrapper start-->
    <div class="wrapper">
        <!--Start Page Title-->
        <div class="page-title-box">
            <h4 class="page-title">表格信息</h4>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Table</a>
                </li>
                <li class="active">Responsive Table</li>
            </ol>
            <div class="clearfix"></div>
        </div>
        <!--End Page Title-->

        <!-- Start responsive Table-->
        <div class="col-md-12">
            <div class="white-box">
                <h2 class="header-title">用户管理员信息表</h2>
                <form class="form-inline" method="post" action="/user/list">
                    <div>
                        <input type="text" th:value="${UserName}" name="user_name"
                               id="InputName" placeholder="按照用户名查询" class="form-control">
                        <button type="submit" class="btn btn-primary">查询</button>
                    </div>
                </form>
                <div class="table-responsive">
                    <table id="example" class="display table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名</th>
                            <!--                                <th>用户密码</th>-->
                            <th>性别</th>
                            <th>出生日期</th>
                            <th>Email</th>
                            <th>电话</th>
                            <th>家庭地址</th>
                            <th>用户类型</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="UserInfo:${userInfo.list}">
                            <td th:text="${UserInfo.user_id}">1001</td>
                            <td th:text="${UserInfo.user_name}">Jordan</td>
                            <!--                                <td th:text="${UserInfo.password}">123</td>-->
                            <td th:text="${UserInfo.user_sex}==true?'男':'女'">男</td>
                            <td th:text="${#dates.format(UserInfo.user_birthday,'yyyy-MM-dd')}">2020-10-10</td>
                            <td th:text="${UserInfo.user_email}">123@qq.com</td>
                            <td th:text="${UserInfo.user_phone}">12345</td>
                            <td th:text="${UserInfo.user_address}">武汉</td>
                            <td th:text="${UserInfo.power}==1?'管理员':'用户'">管理员</td>
                            <td>
                                <a th:href="@{'update/'+${UserInfo.user_id}}">修改</a> |
                                <a th:href="@{'delete/'+${UserInfo.user_id}}">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a th:href="@{/user/list(pageIndex=${userInfo.pageNum-1},pageSize=10,user_name=${UserName})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <th:block th:each="nav:${userInfo.navigatepageNums}">
                                <li th:class="${nav==userInfo.pageNum}?'active':''">
                                    <a th:href="@{/user/list(pageIndex=${nav},pageSize=10,user_name=${UserName})}"
                                       th:text="${nav}">
                                    </a>
                                </li>
                            </th:block>
                            <li>
                                <a th:href="@{/user/list(pageIndex=${userInfo.pageNum+1},pageSize=10,user_name=${UserName})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End responsive Table-->
    </div>
    <!-- End Wrapper-->

    <!--Start  Footer -->
    <footer class="footer-main">
        Copyright &copy; 2018.项目实训第五组 All rights reserved.
    </footer>
    <!--End footer -->
</div>
<!--End main content -->

<!--Begin core plugin -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/plugins/moment/moment.js"></script>
<script src="/assets/js/jquery.slimscroll.js "></script>
<script src="/assets/js/jquery.nicescroll.js"></script>
<script src="/assets/js/functions.js"></script>
<!-- End core plugin -->
</body>
</html>
